# Visualizing Aggregated Analytics

We used spark to get the average velocity, average groupsize, and other nice analytics
from the Spark EMR cluster.

In [1]:
import pandas as pd
import numpy as np
import os

from bokeh.plotting import figure, show, output_file
from bokeh.models import ColumnDataSource, HoverTool

In [36]:
df = pd.read_csv('../full_paired-10mins.csv')

In [37]:
df[:3]

,Unnamed: 0,window,sum(num_people),sum(num_groups),sum(sum_velocities),sum(num_velocities),avg(num_people),x_centers,y_centers
0,0,"Row(start=datetime.datetime(2019, 4, 10, 0, 20...",1,1,0.000000,0,0.001389,[0.449],[0.335]
1,1,"Row(start=datetime.datetime(2019, 4, 10, 0, 30...",7,7,0.014000,1,0.005833,"[0.709, 0.691, 0.718, 0.718, 0.455, 0.421, 0.812]","[0.339, 0.362, 0.459, 0.466, 0.731, 0.764, 0.56]"
2,2,"Row(start=datetime.datetime(2019, 4, 10, 0, 40...",66,36,0.714577,33,0.055000,"[0.694, 0.691, 0.693, 0.7, 0.688, 0.688, 0.685...","[0.334, 0.337, 0.331, 0.33, 0.334, 0.329, 0.33..."

In [38]:
df

,Unnamed: 0,window,sum(num_people),sum(num_groups),sum(sum_velocities),sum(num_velocities),avg(num_people),x_centers,y_centers
0,0,"Row(start=datetime.datetime(2019, 4, 10, 0, 20...",1,1,0.000000,0,0.001389,[0.449],[0.335]
1,1,"Row(start=datetime.datetime(2019, 4, 10, 0, 30...",7,7,0.014000,1,0.005833,"[0.709, 0.691, 0.718, 0.718, 0.455, 0.421, 0.812]","[0.339, 0.362, 0.459, 0.466, 0.731, 0.764, 0.56]"
2,2,"Row(start=datetime.datetime(2019, 4, 10, 0, 40...",66,36,0.714577,33,0.055000,"[0.694, 0.691, 0.693, 0.7, 0.688, 0.688, 0.685...","[0.334, 0.337, 0.331, 0.33, 0.334, 0.329, 0.33..."
3,3,"Row(start=datetime.datetime(2019, 4, 10, 0, 50...",40,35,0.181781,15,0.033333,"[0.458, 0.606, 0.6, 0.48, 0.528, 0.601, 0.615,...","[0.339, 0.264, 0.263, 0.805, 0.763, 0.682, 0.6..."
4,4,"Row(start=datetime.datetime(2019, 4, 10, 1, 0)...",106,56,1.592606,66,0.088333,"[0.853, 0.846, 0.837, 0.83, 0.823, 0.815, 0.80...","[0.53, 0.532, 0.534, 0.539, 0.542, 0.546, 0.55..."
5,5,"Row(start=datetime.datetime(2019, 4, 10, 1, 10...",1,1,0.000000,0,0.000833,[0.451],[0.327]
6,6,"Row(start=datetime.datetime(2019, 4, 10, 1, 20...",13,12,0.029189,4,0.010934,"[0.642, 0.621, 0.616, 0.597, 0.583, 0.429, 0.4...","[0.538, 0.565, 0.575, 0.593, 0.653, 0.789, 0.3..."
7,7,"Row(start=datetime.datetime(2019, 4, 10, 1, 30...",20,16,0.146305,11,0.016667,"[0.456, 0.454, 0.427, 0.434, 0.429, 0.439, 0.4...","[0.331, 0.33, 0.259, 0.255, 0.255, 0.264, 0.26..."
8,8,"Row(start=datetime.datetime(2019, 4, 10, 1, 40...",101,66,1.216250,59,0.084167,"[0.678, 0.709, 0.705, 0.693, 0.687, 0.705, 0.6...","[0.378, 0.486, 0.487, 0.503, 0.5, 0.499, 0.501..."
9,9,"Row(start=datetime.datetime(2019, 4, 10, 1, 50...",1,1,0.000000,0,0.000833,[0.393],[0.346]
10,10,"Row(start=datetime.datetime(2019, 4, 10, 2, 0)...",8,8,0.179718,4,0.006667,"[0.458, 0.485, 0.507, 0.527, 0.844, 0.852, 0.8...","[0.8, 0.784, 0.77, 0.757, 0.562, 0.559, 0.548,..."
11,11,"Row(start=datetime.datetime(2019, 4, 10, 2, 10...",7,7,0.084632,4,0.005833,"[0.721, 0.719, 0.712, 0.71, 0.701, 0.696, 0.64]","[0.549, 0.557, 0.573, 0.57, 0.595, 0.607, 0.699]"
12,12,"Row(start=datetime.datetime(2019, 4, 10, 2, 20...",0,0,0.000000,0,0.000000,[],[]
13,13,"Row(start=datetime.datetime(2019, 4, 10, 2, 30...",0,0,0.000000,0,0.000000,[],[]
14,14,"Row(start=datetime.datetime(2019, 4, 10, 2, 40...",4,2,0.000000,0,0.003333,"[0.462, 0.466, 0.464, 0.454]","[0.326, 0.324, 0.329, 0.275]"
15,15,"Row(start=datetime.datetime(2019, 4, 10, 2, 50...",0,0,0.000000,0,0.000000,[],[]
16,16,"Row(start=datetime.datetime(2019, 4, 10, 3, 0)...",12,10,0.078758,6,0.010000,"[0.422, 0.653, 0.655, 0.663, 0.666, 0.663, 0.6...","[0.758, 0.488, 0.481, 0.475, 0.459, 0.464, 0.4..."
17,17,"Row(start=datetime.datetime(2019, 4, 10, 3, 10...",0,0,0.000000,0,0.000000,[],[]
18,18,"Row(start=datetime.datetime(2019, 4, 10, 3, 20...",26,10,0.391094,15,0.021667,"[0.885, 0.867, 0.874, 0.854, 0.867, 0.85, 0.84...","[0.55, 0.536, 0.541, 0.55, 0.553, 0.548, 0.553..."
19,19,"Row(start=datetime.datetime(2019, 4, 10, 3, 30...",0,0,0.000000,0,0.000000,[],[]
20,20,"Row(start=datetime.datetime(2019, 4, 10, 3, 40...",0,0,0.000000,0,0.000000,[],[]
21,21,"Row(start=datetime.datetime(2019, 4, 10, 3, 50...",2,2,0.052802,1,0.001667,"[0.439, 0.415]","[0.788, 0.799]"
22,22,"Row(start=datetime.datetime(2019, 4, 10, 4, 0)...",0,0,0.000000,0,0.000000,[],[]
23,23,"Row(start=datetime.datetime(2019, 4, 10, 4, 10...",0,0,0.000000,0,0.000000,[],[]
24,24,"Row(start=datetime.datetime(2019, 4, 10, 4, 20...",2,2,0.000000,0,0.001684,"[0.264, 0.396]","[0.475, 0.772]"
25,25,"Row(start=datetime.datetime(2019, 4, 10, 4, 30...",12,8,0.041289,6,0.010000,"[0.448, 0.444, 0.444, 0.443, 0.441, 0.443, 0.4...","[0.275, 0.273, 0.272, 0.271, 0.271, 0.27, 0.26..."
26,26,"Row(start=datetime.datetime(2019, 4, 10, 4, 40...",0,0,0.000000,0,0.000000,[],[]
27,27,"Row(start=datetime.datetime(2019, 4, 10, 4, 50...",1,1,0.000000,0,0.000833,[0.686],[0.489]
28,28,"Row(start=datetime.datetime(2019, 4, 10, 5, 0)...",9,9,0.014422,1,0.007500,"[0.874, 0.835, 0.746, 0.425, 0.691, 0.687, 0.6...","[0.551, 0.573, 0.619, 0.755, 0.488, 0.494, 0.5..."
29,29,"Row(start=datetime.datetime(2019, 4, 10, 5, 10...",17,17,0.394855,10,0.014167,"[0.868, 0.85, 0.831, 0.805, 0.791, 0.781, 0.77...","[0.579, 0.59, 0.596, 0.612, 0.629, 0.632, 0.63..."
...,...,...,...,...,...,...,...,...,...
611,611,"Row(start=datetime.datetime(2019, 4, 16, 14, 2...",15281,6643,933.836329,12930,12.734167,"[0.223, 0.341, 0.674, 0.718, 0.288, 0.271, 0.4...","[0.395, 0.36, 0.414, 0.619, 0.389, 0.241, 0.36..."
612,612,"Row(start=datetime.datetime(2019, 4, 16, 14, 3...",14566,6538,986.568691,12203,12.178930,"[0.648, 0.321, 0.306, 0.729, 0.38, 0.869, 0.94...","[0.51, 0.445, 0.284, 0.512, 0.354, 0.456, 0.73..."
613,613,"Row(start=datetime.datetime(2019, 4, 16, 14, 4...",16237,7461,1136.300037,13713,13.530833,"[0.667, 0.382, 0.602, 0.46, 0.38, 0.307, 0.623...","[0.509, 0.293, 0.626, 0.346, 0.291, 0.403, 0.6..."
614,614,"Row(start=datetime.datetime(2019, 4, 16, 14, 5...",16142,6915,1179.581871,13677,13.451667,"[0.372, 0.346, 0.326, 0.357, 0.315, 0.259, 0.4...","[0.815, 0.81, 0.534, 0.333, 0.348, 0.387, 0.4,..."
615,615,"Row(start=datetime.datetime(2019, 4, 16, 15, 0...",13314,5930,861.784853,11332,11.095000,"[0.272, 0.289, 0.241, 0.291, 0.216, 0.236, 0.5...","[0.685, 0.278, 0.397, 0.277, 0.392, 0.397, 0.5..."
616,616,"Row(start=datetime.datetime(2019, 4, 16, 15, 1...",14313,5679,887.181576,12147,11.927500,"[0.48, 0.502, 0.395, 0.359, 0.494, 0.639, 0.35...","[0.33, 0.473, 0.277, 0.764, 0.479, 0.275, 0.77..."
617,617,"Row(start=datetime.datetime(2019, 4, 16, 15, 2...",13765,6184,834.682947,11748,11.470833,"[0.38, 0.238, 0.641, 0.284, 0.635, 0.358, 0.23...","[0.747, 0.378, 0.508, 0.378, 0.509, 0.365, 0.3..."
618,618,"Row(start=datetime.datetime(2019, 4, 16, 15, 3...",15288,6764,899.309925,13085,12.814753,"[0.452, 0.507, 0.699, 0.55, 0.552, 0.419, 0.68...","[0.704, 0.398, 0.418, 0.377, 0.438, 0.298, 0.4..."
619,619,"Row(start=datetime.datetime(2019, 4, 16, 15, 4...",14976,6221,981.727386,12713,12.480000,"[0.252, 0.21, 0.68, 0.402, 0.23, 0.165, 0.516,...","[0.477, 0.457, 0.559, 0.33, 0.277, 0.371, 0.45..."
620,620,"Row(start=datetime.datetime(2019, 4, 16, 15, 5...",12400,5403,754.303773,10418,10.333333,"[0.561, 0.518, 0.624, 0.767, 0.471, 0.619, 0.4...","[0.58, 0.372, 0.58, 0.441, 0.378, 0.582, 0.304..."
621,621,"Row(start=datetime.datetime(2019, 4, 16, 16, 0...",12982,5491,793.142827,10856,10.818333,"[0.381, 0.348, 0.654, 0.664, 0.441, 0.378, 0.6...","[0.728, 0.341, 0.612, 0.386, 0.728, 0.374, 0.3..."
622,622,"Row(start=datetime.datetime(2019, 4, 16, 16, 1...",15530,5724,1015.706766,13218,12.941667,"[0.342, 0.705, 0.5, 0.415, 0.274, 0.497, 0.543...","[0.388, 0.373, 0.334, 0.389, 0.426, 0.333, 0.3..."
623,623,"Row(start=datetime.datetime(2019, 4, 16, 16, 2...",13634,5657,918.192199,11327,11.361667,"[0.665, 0.402, 0.51, 0.707, 0.49, 0.394, 0.535...","[0.36, 0.593, 0.369, 0.343, 0.37, 0.341, 0.439..."
624,624,"Row(start=datetime.datetime(2019, 4, 16, 16, 3...",9190,4206,593.531202,7462,8.485688,"[0.378, 0.206, 0.495, 0.203, 0.538, 0.416, 0.6...","[0.712, 0.276, 0.376, 0.279, 0.462, 0.289, 0.3..."
625,625,"Row(start=datetime.datetime(2019, 4, 17, 17, 4...",7139,3791,540.866629,5719,8.498810,"[0.438, 0.443, 0.435, 0.686, 0.526, 0.678, 0.6...","[0.355, 0.356, 0.356, 0.566, 0.461, 0.566, 0.3..."
626,626,"Row(start=datetime.datetime(2019, 4, 17, 17, 5...",9589,4705,690.834061,7395,7.990833,"[0.743, 0.2, 0.357, 0.259, 0.301, 0.305, 0.65,...","[0.495, 0.429, 0.388, 0.467, 0.286, 0.283, 0.5..."
627,627,"Row(start=datetime.datetime(2019, 4, 17, 18, 0...",10205,4633,682.279603,8051,8.504167,"[0.408, 0.645, 0.596, 0.4, 0.396, 0.644, 0.647...","[0.326, 0.441, 0.541, 0.325, 0.325, 0.437, 0.4..."
628,628,"Row(start=datetime.datetime(2019, 4, 17, 18, 1...",9282,4564,623.579231,7317,7.735000,"[0.854, 0.322, 0.521, 0.31, 0.697, 0.221, 0.52...","[0.537, 0.391, 0.392, 0.393, 0.387, 0.395, 0.3..."
629,629,"Row(start=datetime.datetime(2019, 4, 17, 18, 2...",13599,5143,785.244586,11380,11.332500,"[0.449, 0.37, 0.6, 0.427, 0.815, 0.425, 0.706,...","[0.733, 0.898, 0.571, 0.343, 0.956, 0.343, 0.6..."
630,630,"Row(start=datetime.datetime(2019, 4, 17, 18, 3...",9723,4578,689.297374,7724,8.102500,"[0.466, 0.276, 0.703, 0.617, 0.544, 0.546, 0.7...","[0.64, 0.562, 0.53, 0.474, 0.377, 0.381, 0.528..."
631,631,"Row(start=datetime.datetime(2019, 4, 17, 18, 4...",10123,5120,630.559297,8216,8.442869,"[0.402, 0.363, 0.757, 0.28, 0.284, 0.278, 0.28...","[0.783, 0.682, 0.51, 0.281, 0.279, 0.567, 0.57..."
632,632,"Row(start=datetime.datetime(2019, 4, 17, 18, 5...",12432,5530,856.690592,10050,10.360000,"[0.404, 0.369, 0.37, 0.466, 0.351, 0.282, 0.33...","[0.322, 0.339, 0.587, 0.395, 0.586, 0.283, 0.2..."
633,633,"Row(start=datetime.datetime(2019, 4, 17, 19, 0...",12019,5006,760.303307,9855,10.015833,"[0.706, 0.363, 0.555, 0.397, 0.552, 0.465, 0.2...","[0.531, 0.822, 0.39, 0.359, 0.39, 0.369, 0.328..."
634,634,"Row(start=datetime.datetime(2019, 4, 17, 19, 1...",9323,4474,574.884451,7354,7.769167,"[0.413, 0.476, 0.379, 0.746, 0.243, 0.521, 0.3...","[0.774, 0.361, 0.743, 0.431, 0.455, 0.366, 0.7..."
635,635,"Row(start=datetime.datetime(2019, 4, 17, 19, 2...",8531,4481,504.066479,6748,7.109167,"[0.641, 0.23, 0.209, 0.41, 0.399, 0.396, 0.229...","[0.558, 0.367, 0.325, 0.305, 0.307, 0.307, 0.3..."
636,636,"Row(start=datetime.datetime(2019, 4, 17, 19, 3...",7504,4027,366.035460,5979,6.253333,"[0.379, 0.236, 0.584, 0.207, 0.626, 0.474, 0.4...","[0.396, 0.395, 0.42, 0.331, 0.389, 0.408, 0.33..."
637,637,"Row(start=datetime.datetime(2019, 4, 17, 19, 4...",4013,2481,214.099028,2853,3.360972,"[0.613, 0.346, 0.61, 0.341, 0.541, 0.47, 0.467...","[0.438, 0.582, 0.437, 0.582, 0.377, 0.444, 0.4..."
638,638,"Row(start=datetime.datetime(2019, 4, 17, 19, 5...",796,558,19.430889,380,0.663333,"[0.442, 0.497, 0.434, 0.401, 0.235, 0.716, 0.3...","[0.335, 0.336, 0.633, 0.637, 0.497, 0.498, 0.6..."
639,639,"Row(start=datetime.datetime(2019, 4, 17, 20, 0...",230,133,2.284704,93,0.191667,"[0.419, 0.725, 0.417, 0.448, 0.722, 0.363, 0.3...","[0.75, 0.321, 0.763, 0.758, 0.311, 0.308, 0.30..."
640,640,"Row(start=datetime.datetime(2019, 4, 17, 20, 1...",214,135,2.847529,91,0.291951,"[0.417, 0.413, 0.415, 0.411, 0.413, 0.409, 0.2...","[0.286, 0.286, 0.281, 0.281, 0.277, 0.277, 0.2..."

Lets first plot the average velocity.
Currently the window is in the format of a string.
We want to make it in the units of datetime, where datetime
is when the windows starts.

In [39]:
df.window[0]

'Row(start=datetime.datetime(2019, 4, 10, 0, 20), end=datetime.datetime(2019, 4, 10, 0, 30))'

Let's take off the row and the parens, and `start=` and `end=`.

In [40]:
start, end = df.window[0][4:-1].replace('start=', '').replace('end=', '').split(', datetime.')
start = start.replace("datetime.", "")
end = end.replace('datetime.', '')
print(start)
print(end)

datetime(2019, 4, 10, 0, 20)
datetime(2019, 4, 10, 0, 30)

In [41]:
from datetime import datetime
def filter_window_row(row):
    start, end = row[4:-1].replace('start=', '').replace('end=', '').split(', datetime.')
    start = start.replace("datetime.", "")
    end = end.replace('datetime.', '')
    return eval(start)

In [42]:
df['start'] = df.window.map(filter_window_row)
df['start_string'] = df['start'].map(lambda timestamp: timestamp.strftime("%b %d %Y %H:%M:%S %p"))
df.index.name = 'index'

In [43]:
df[:3]

,Unnamed: 0,window,sum(num_people),sum(num_groups),sum(sum_velocities),sum(num_velocities),avg(num_people),x_centers,y_centers,start,start_string
index,,,,,,,,,,,
0,0,"Row(start=datetime.datetime(2019, 4, 10, 0, 20...",1,1,0.000000,0,0.001389,[0.449],[0.335],2019-04-10 00:20:00,Apr 10 2019 00:20:00 AM
1,1,"Row(start=datetime.datetime(2019, 4, 10, 0, 30...",7,7,0.014000,1,0.005833,"[0.709, 0.691, 0.718, 0.718, 0.455, 0.421, 0.812]","[0.339, 0.362, 0.459, 0.466, 0.731, 0.764, 0.56]",2019-04-10 00:30:00,Apr 10 2019 00:30:00 AM
2,2,"Row(start=datetime.datetime(2019, 4, 10, 0, 40...",66,36,0.714577,33,0.055000,"[0.694, 0.691, 0.693, 0.7, 0.688, 0.688, 0.685...","[0.334, 0.337, 0.331, 0.33, 0.334, 0.329, 0.33...",2019-04-10 00:40:00,Apr 10 2019 00:40:00 AM

These are now string with the datetime object.

## Compute average statistics (instead of in PySpark) due to the inability of udfs to be parallelizable over multiple columns

In [49]:
df[:3]

,Unnamed: 0,window,sum(num_people),sum(num_groups),sum(sum_velocities),sum(num_velocities),avg(num_people),x_centers,y_centers,start,start_string,avg_group_size,avg_velocity
index,,,,,,,,,,,,,
0,0,"Row(start=datetime.datetime(2019, 4, 10, 0, 20...",1,1,0.000000,0,0.001389,[0.449],[0.335],2019-04-10 00:20:00,Apr 10 2019 00:20:00 AM,1.000000,NaN
1,1,"Row(start=datetime.datetime(2019, 4, 10, 0, 30...",7,7,0.014000,1,0.005833,"[0.709, 0.691, 0.718, 0.718, 0.455, 0.421, 0.812]","[0.339, 0.362, 0.459, 0.466, 0.731, 0.764, 0.56]",2019-04-10 00:30:00,Apr 10 2019 00:30:00 AM,1.000000,0.014000
2,2,"Row(start=datetime.datetime(2019, 4, 10, 0, 40...",66,36,0.714577,33,0.055000,"[0.694, 0.691, 0.693, 0.7, 0.688, 0.688, 0.685...","[0.334, 0.337, 0.331, 0.33, 0.334, 0.329, 0.33...",2019-04-10 00:40:00,Apr 10 2019 00:40:00 AM,1.833333,0.021654

In [64]:
def get_averages(df):
    df = df
    df['avg_group_size'] = 1.*df['sum(num_people)'] / df['sum(num_groups)']
    df['avg_velocity'] = 1.*df['sum(sum_velocities)'] / df['sum(num_velocities)']
    df.rename(columns={'avg(num_people)': 'avg_num_people'}, inplace=True)
    
    # Some windows have 0 groups or velocities, so replace NaNs with 0.
    df.fillna(0.)
    return df

In [65]:
get_averages(df)
df[:3]

,Unnamed: 0,window,sum(num_people),sum(num_groups),sum(sum_velocities),sum(num_velocities),avg_num_people,x_centers,y_centers,start,start_string,avg_group_size,avg_velocity
index,,,,,,,,,,,,,
0,0,"Row(start=datetime.datetime(2019, 4, 10, 0, 20...",1,1,0.000000,0,0.001389,[0.449],[0.335],2019-04-10 00:20:00,Apr 10 2019 00:20:00 AM,1.000000,NaN
1,1,"Row(start=datetime.datetime(2019, 4, 10, 0, 30...",7,7,0.014000,1,0.005833,"[0.709, 0.691, 0.718, 0.718, 0.455, 0.421, 0.812]","[0.339, 0.362, 0.459, 0.466, 0.731, 0.764, 0.56]",2019-04-10 00:30:00,Apr 10 2019 00:30:00 AM,1.000000,0.014000
2,2,"Row(start=datetime.datetime(2019, 4, 10, 0, 40...",66,36,0.714577,33,0.055000,"[0.694, 0.691, 0.693, 0.7, 0.688, 0.688, 0.685...","[0.334, 0.337, 0.331, 0.33, 0.334, 0.329, 0.33...",2019-04-10 00:40:00,Apr 10 2019 00:40:00 AM,1.833333,0.021654

## Visualization

In [57]:
HEIGHT = 360
WIDTH = 640

In [18]:
# Bokeh Library
from bokeh.io import output_file, output_notebook
from bokeh.models.widgets import Tabs, Panel
from bokeh.plotting import show

# Output to file
# output_notebook()

In [68]:
hover = HoverTool()
hover.tooltips = [('Timestamp', '@start_string'),
                  ('Average Number of People', '@avg_num_people'),]

num_people_graph = figure(title="Number of People in Science Center Plaza",
    plot_height=500, 
    plot_width=900,
    # y_range=(0, 20),
    match_aspect=True,
    tools=[hover, "pan,reset,wheel_zoom"])

num_people_graph.vbar(x='index',
       top='avg_num_people',
       width=0.9,
       color='red',
       source=ColumnDataSource(df))

num_people_graph.xaxis.axis_label = "Time Window (Hover for Timestamp)"
num_people_graph.yaxis.axis_label = "Average Number of People in Camera"

# avg_velocity_graph = figure(title="Average Velocity",
#     plot_height=500, 
#     plot_width=900,
#     match_aspect=True,
#     y_range=(0, 1),
#     tools=[hover, "pan,reset,wheel_zoom"])

# avg_velocity_graph.vbar(x='index',
#        top='avg_velocity',
#        width=0.9,
#        color='blue',
#        source=ColumnDataSource(df))

# avg_group_size_graph = figure(title="Stuff",
#     plot_height=500, 
#     plot_width=900,
#     match_aspect=True,
#     y_range=(0, 4),
#     tools=[hover, "pan,reset,wheel_zoom"])

# avg_group_size_graph.vbar(x='index',
#        top='avg_group_size',
#        width=0.9,
#        color='green',
#        source=ColumnDataSource(df))


panel1 = Panel(child=num_people_graph, title='Average Number of People')
# panel2 = Panel(child=avg_velocity_graph, title='Average Velocity')
# panel3 = Panel(child=avg_group_size_graph, title='Average Group Size')

# Assign the panels to Tabs
# tabs = Tabs(tabs=[panel1, panel2, panel3])
tabs = Tabs(tabs=[panel1])

In [69]:
show(tabs)

ERROR:bokeh.core.validation.check:E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: avg_num_people [renderer: GlyphRenderer(id='c542ab3e-4ebd-4d47-9020-1b81e71981c5', ...)]
ERROR:bokeh.core.validation.check:E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: avg_num_people [renderer: GlyphRenderer(id='494c6ad9-da81-4e0e-8bba-9692021af737', ...)]